<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/styles.css' %}">
</head>
<body>
    <header class="header">
        <h1 class="tarefas-joao-title">Tarefas do dia</h1>
        <button id="myBtn" class="btn">Nova Tarefa</button>
    </header>
    <div id="createTaskModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Criar Nova Tarefa</h2>
            <form id="createTaskForm" method="POST" action="/todo/notes/create/">
                {% csrf_token %}
                <label for="newTaskTitle">Título:</label>
                <input type="text" id="newTaskTitle" name="taskTitle" required>
                <label for="newTaskDescription">Descrição:</label>
                <textarea id="newTaskDescription" name="taskDescription" required></textarea>
                <label for="newTaskDueDate">Data de Vencimento:</label>
                <input type="date" id="newTaskDueDate" name="taskDueDate" required>
                <button type="submit" class="btn">Criar Tarefa</button>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div id="editTaskModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Tarefa</h2>
            <form id="editTaskForm" method="POST" action="">
                {% csrf_token %}
                <label for="taskTitleInput">Título:</label>
                <input type="text" id="taskTitleInput" name="taskTitle" required>
                <label for="taskDescriptionInput">Descrição:</label>
                <textarea id="taskDescriptionInput" name="taskDescription" required></textarea>
                <label for="taskDueDate">Data de Vencimento:</label>
                <p id="taskDueDate"></p>
                <button type="submit" class="btn">Salvar Alterações</button>
            </form>
            <form id="deleteTaskForm" method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="btn">Excluir Tarefa</button>
            </form>
        </div>
    </div>
    
    <h2>Tarefas Pendentes</h2>
    <table id="pendingTasksTable">
        <thead>
            <tr>
                <th>Concluído</th>
                <th>Título</th>
                <th>Data de Vencimento</th>
                <th>Importância</th>
            </tr>
        </thead>
        <tbody>
            {% for note in pending_notes %}
            <tr class="task-row" data-id="{{ note.id }}" data-title="{{ note.name_task }}" data-description="{{ note.description }}" data-duedate="{{ note.end_date }}">
                <td>
                    <form method="POST" action="{% url 'toggle_completion' note.id %}">
                        {% csrf_token %}
                        <input type="checkbox" class="complete-checkbox" onchange="this.form.submit()" {% if note.completed %}checked{% endif %}>
                    </form>
                </td>
                <td>{{ note.name_task }}</td>
                <td class="due-date" style="color:red">{{ note.end_date }}</td>
                <td class="important"><span class="star">☆</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>Tarefas Concluídas</h2>
    <table id="completedTasksTable">
        <thead>
            <tr>
                <th>Concluído</th>
                <th>Título</th>
                <th>Data de Vencimento</th>
                <th>Importância</th>
            </tr>
        </thead>
        <tbody>
            {% for note in completed_notes %}
            <tr class="task-row task-completed" data-id="{{ note.id }}" data-title="{{ note.name_task }}" data-description="{{ note.description }}" data-duedate="{{ note.end_date }}">
                <td>
                    <form method="POST" action="{% url 'toggle_completion' note.id %}">
                        {% csrf_token %}
                        <input type="checkbox" class="complete-checkbox" onchange="this.form.submit()" checked>
                    </form>
                </td>
                <td class="completed">{{ note.name_task }}</td>
                <td class="due-date" style="color:red">{{ note.end_date }}</td>
                <td class="important"><span class="star">☆</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Incluindo o arquivo JavaScript -->
    <script src="{% static 'todo/js/main.js' %}"></script>

</body>
</html>
